.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Movie-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}

.Movie-wrapper {
  width: 300px;
  background-color: dimgrey;
  border-radius: 5px;
  margin-top: 20px;
  padding: 5px;
  color: white;
  text-align: center;
}

.Movie-search {
  height: 60px;
  font-size: 24px;
  margin-bottom: 5px;
  border-radius: 5px;
  padding: 5px;
}

.Movie-title {
  height: 20px;
  font-weight: bold;
  color: white;
  margin-bottom: 50px;
}

.Movie-image {
  width: 100%;
  aspect-ratio: 4 / 6; /* lebar 3, tinggi 2 */
  object-fit: cover;
  border-radius: 5px;
}

.Movie-episode {
  font-style: italic;
}

.Movie-rate {
  color: rgb(62, 255, 62);
  font-weight: bold;
}

.Movie-trailers {
  color: rgb(0, 0, 0);

  font-weight: bold;
}
